
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Nunito', sans-serif !important;
}
:root {
  --primary-dark: #083B66;
  --primary: #454FC8;
  --secondary: #6C757D;
  --white: #FFFFFF;
  --dark: #3B3B3B;
}
 
.auth.ui.grid {
  margin: 0 !important;
}

.primary-bg {
  background-color: var(--primary-dark) !important;
}

.primary-dark-color {
  color: var(--primary-dark) !important;
}

.primary-color{
  color: var(--primary) !important
}

.secondary-color {
  color: var(--secondary) !important
}

.white-color {
  color: var(--white) !important;
}

.vh-100 {
  height: 100vh;
}

.ui.input {
  width: 100%;
}

label {
  font-weight: 600 !important;
  color: var(--dark) !important;
}

.fs-heading {
  font-size: 3rem !important;
}


.btn {
  background: var(--primary) !important;
  color: var(--white) !important;
  border-radius: 2px !important;
}

.backToLogin {
  margin: 6% !important;
    text-align: center;
}

.ui.form .field {
  clear: both;
  margin: 0 0 0.5em;
}

.ui.message {
  position: relative;
  min-height: 1em;
  margin: 0;
  background: none;
  padding: 0;
  line-height: 1.4285em;
  color: rgba(0,0,0,.87);
  box-shadow: none;
}

.ui.error.message {
  background-color: transparent !important;
  box-shadow: none;
}

.ui.vertical.menu .item:before {
  height: 0px;
  width: 0px;
}
.ui.inverted.menu .active.item {
  background-color: transparent;
}
.ui.inverted.menu .item {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar-pusher {
  width: calc(100vw - 260px);
}

.opportunities-tabs {
  width: 100px;
  text-align: center;
  display: inline-block !important;
  color: var(--secondary) !important;
}

.opportunities-tabs.active  {
 border-color: var(--primary-dark) ;
 color: var(--text-secondary)  !important;
}

.opportunities-tabs-height {
  min-height: calc(100vh - 215px);
}