@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}

:root {
  --primary-dark: #083b66;
  --primary: #454fc8;
  --secondary: #6c757d;
  --white: #ffffff;
  --dark: #3b3b3b;
  --success: #74d14c;
  --danger: #fa6767;
}

.auth.ui.grid {
  margin: 0 !important;
}

.primary-bg {
  background-color: var(--primary-dark) !important;
}

.secondary-bg {
  background-color: var(--secondary) !important;
}

.success-bg {
  background-color: var(--success) !important;
}

.primary-dark-color {
  color: var(--primary-dark) !important;
}

.primary-color {
  color: var(--primary) !important;
}

.secondary-color {
  color: var(--secondary) !important;
}

.white-color {
  color: var(--white) !important;
}

.vh-100 {
  height: 100vh;
}

.min-vh-100 {
  min-height: 100vh;
}

.ui.input {
  width: 100%;
}

label {
  font-weight: 600 !important;
  color: var(--dark) !important;
}

.fs-heading {
  font-size: 3rem !important;
}

.btn {
  background: var(--primary) !important;
  color: var(--white) !important;
  border-radius: 2px !important;
  min-width: 10rem !important;
}

.btn:hover {
  cursor: pointer !important;
}

.btn-secondary {
  background: var(--secondary) !important;
  color: var(--white) !important;
  border-radius: 2px !important;
  min-width: 10rem !important;
}

.btn-danger {
  background: var(--danger) !important;
  color: var(--white) !important;
  border-radius: 2px !important;
  min-width: 10rem !important;
}

.btn-link {
  background: none !important;
  color: var(--primary) !important;
  font-weight: 700;
  border: none;
  padding: 1rem;
  min-width: 10rem !important;
}

.btn-link-danger {
  background: none !important;
  color: var(--danger) !important;
  font-weight: 700;
  border: none;
  padding: 1rem;
  min-width: 10rem !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.btn-outline {
  background: none !important;
  color: var(--primary) !important;
  font-weight: 700;
  outline: 2px solid var(--primary) !important;
  min-width: 10rem !important;
}

.backToLogin {
  margin: 6% !important;
  text-align: center;
}

.ui.form .field {
  clear: both;
  margin: 0 0 0.5em;
}

.ui.message {
  position: relative;
  min-height: 1em;
  margin: 0;
  background: none;
  padding: 0;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
}

.ui.error.message {
  background-color: transparent !important;
  box-shadow: none;
}

.ui.vertical.menu .item:before {
  height: 0px;
  width: 0px;
}

.ui.inverted.menu .active.item {
  background-color: transparent;
}

.ui.inverted.menu .item {
  color: rgba(255, 255, 255, 0.5);
}

.ui.menu .item.logo:before {
  background: none;
}

.sidebar-pusher {
  width: calc(100vw - 260px);
}

.opportunities-tabs {
  width: 100px;
  text-align: center;
  display: inline-block !important;
  color: var(--secondary) !important;
}

.opportunities-tabs.active {
  border-color: var(--primary-dark);
  color: var(--text-secondary) !important;
}

.opportunities-tabs-height {
  min-height: calc(100vh - 215px);
}

.ui.secondary.pointing.menu .active.item {
  color: var(--secondary) !important;
  border-color: var(--primary-dark) !important;
}

.ui.secondary.pointing.menu .item {
  min-width: 100px;
  text-align: center;
  display: inline-block;
}

.ui.segment.tab {
  border: none;
  box-shadow: none;
}

.ui.modal.visible.active {
  position: static;
  height: auto;
}

.opportunity.ui.fluid.card {
  min-height: 273px !important;
}

.ui.card>.content>.meta+.description {
  min-height: 119px !important;
}

.ui.disabled.input {
  opacity: 0.75 !important;
}

.ui.form .disabled.field {
  opacity: 0.85 !important;
}

.error-message,
.success-message {
  padding: 1rem !important;
  font-size: 1.25rem !important;
  text-align: center;
}

.participantsList {
  font-size: 16px;
  font-weight: 700;
  color: #6c757d;
}

.participantsScore {
  font-size: 12px;
  font-weight: normal;
  color: #98a6ad;
}

.participantsScore:first-child {
  margin-top: 3px;
}

.ui.modal>.close {
  top: 1rem;
  right: 1rem;
  color: var(--dark) !important;
}

.Results .ui.divided.list>.item {
  padding: 8px !important;
  border: none !important;
  cursor: pointer !important;
}

.Results.ui.list {
  border-right: 1px solid #edeff1 !important;
}

.indivisualScore {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
  color: #6c757d;
}

i.icon.close:before {
  content: '\f00d';
}

.ui.action.input>.button {
  display: block;
}

.hoverable:hover {
  cursor: pointer;
}

.ui.pagination.secondary.menu .active.item {
  background: var(--primary-dark);
  color: var(--white);
}

.ui.form .inline.fields .field {
  padding: 0px;
}

.ui.pagination.secondary.menu .item {
  border-radius: 50%;
  display: inline;
}

#misc {
  position: relative;
  height: 100vh;
}

#misc .misc {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.misc {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.misc .misc-error {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.misc .misc-error h1 {
  font-family: maven pro, sans-serif;
  color: #ececec;
  font-weight: 900;
  font-size: 276px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.misc h2 {
  font-family: maven pro, sans-serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.misc p {
  font-family: maven pro, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
}

@media only screen and (max-width: 480px) {
  .misc .misc-error h1 {
    font-size: 162px;
  }

  .misc h2 {
    font-size: 26px;
  }
}